profiles.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="profiles">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="profile" type="profileType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="profileType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="xp" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
